# Project exclude paths
/config-client-apollo1/target/
/config-client-apollo1/*.iml
/service-discovery-eureka-1/target/
/service-discovery-eureka-2/target/
/service-discovery-eureka-3/target/
# Project exclude paths
/target/
.idea
target
*.iml
log